/* You can add global styles to this file, and also import other style files */
.btn-lg {
	font-size: 1.3em;
}

.form-label {
	font-size: 1.2em;
	font-weight: bold;
}

button:disabled {
	cursor: not-allowed;
}

.required:after {
	content: "*";
	color: red;
	vertical-align: .2em;
	font-weight: bold;
}
