<div class="row">
	<div class="col">
		<h1>Participant's Details</h1>
	</div>
</div>
<div class="row mt-3">
	<div class="col">
		<form [formGroup]="form" (ngSubmit)="updateBooking()">
			<div class="form-group">
				<label for="name" class="form-label">Name:</label>
				<input id="name" class="form-control form-control-lg" type="text" readonly 
						[value]="participant.name">
			</div>
			<div class="form-group">
				<label for="email" class="form-label">Email:</label>
				<input id="email" class="form-control form-control-lg" type="email" readonly
						[value]="participant.email">
			</div>
			<div class="form-group">
				<label for="group" class="form-label">Group:</label>
				<input id="group" class="form-control form-control-lg" type="text" readonly
						[value]="groupName">
			</div>
			<div class="row mb-2">
				<div class="form-group col-5">
					<label for="day" class="form-label">Day:</label>
					<input id="day" class="form-control form-control-lg" type="text" readonly [value]="selectedDay">
				</div>
				<div class="form-group col-5">
					<label for="slot" class="form-label">Slot:</label>
					<input id="slot" class="form-control form-control-lg" type="text" readonly [value]="selectedSlot">
				</div>
				<div class="form-group col-2">
					<label for="track" class="form-label">Track:</label>
					<input id="track" class="form-control form-control-lg" type="text" readonly [value]="selectedTrack">
				</div>
			</div>
			<div class="d-flex justify-content-between mb-3">
				<button class="btn btn-lg btn-danger mr-2" type="button" (click)="back()">
					Cancel
				</button>
				<button class="btn btn-lg btn-primary" type="submit" [disabled]="!canUpdate()">
					Update
				</button>
			</div>
			<div class="select-border">
				<div class="form-group">
					<label class="form-label required" for="meet">Meet Option:</label>
					<select id="meet" class="form-control" formControlName="meet">
						<option value="iss">ISS will setup online session</option>
						<option value="self">I will setup online session</option>
					</select>
				</div>
				<div class="row">
					<div class="form-group col-6">
						<label for="password0" class="form-label required">Password:</label>
						<input id="password0" class="form-control form-control-lg" type="password" 
						[ngClass]="{'is-invalid': errorText}" formControlName="password0">
						<div class="invalid-feedback">
							{{ errorText }}
						</div>
					</div>
					<div class="form-group col-6">
						<label for="password1" class="form-label required">Retype:</label>
						<input id="password1" class="form-control form-control-lg" type="password"
						[ngClass]="{'is-invalid': errorText}" formControlName="password1">
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="row mt-3">
	<div class="col">
		<table class="table table-hover">
			<thead class="thead-dark">
				<th>Time</th>
				<th *ngFor="let d of DAYS">{{ d }}</th>
			</thead>
			<tbody>
				<tr *ngFor="let s of SLOTS; let i = index">
					<td><code class="font-weight-bold">{{ s }}</code></td>
					<td *ngFor="let tr of byTimeMajor[i]; let j = index"> 
						<span class="track" *ngIf="tr[0]" (click)="selectSlot(j, i, 0)"
								[ngClass]="{'track-a': tr[0], 'track-a-selected': showSelection(j, i, 0)}">
							A
						</span>
						<span class="track not-available" *ngIf="!tr[0]"> A </span>

						<span class="track" *ngIf="tr[1]" (click)="selectSlot(j, i, 1)"
								[ngClass]="{'track-b': tr[1], 'track-b-selected': showSelection(j, i, 1)}">
							B
						</span> <span class="track not-available" *ngIf="!tr[1]"> B </span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
