.select-border {
	border: 2px solid lightgrey;
	border-radius: 8;
	padding: 8px;
}

td>code {
	font-size: 1.1em;
}

.track {
	width: 5wv;
	padding: 4px;
	font-size: 2em;
	font-weight: bold;
	margin-right: 3px;
}

.track-a {
	color: blue;
	border: 2px gray solid;
	border-radius: 4px;
}
.track-a:hover {
	background-color: lightblue;
}
.track-a-selected {
	border: 2px blue solid !important;
	color: white;
	background-color: blue;
}

.track-b {
	color: green;
	border: 2px gray solid;
	border-radius: 4px;
}
.track-b:hover {
	background-color: lightgreen;
}
.track-b-selected {
	border: 2px green solid !important;
	color: white;
	background-color: green;
}

.not-available {
	color: grey;
}
