<div class="row">
	<div class="col">
		<h1>Final Assessment Reservation Slot</h1>
	</div>
</div>
<div class="row mt-3">
	<div class="col">
		<form [formGroup]="form" (ngSubmit)="findUser()">
			<div class="form-group">
				<label for="email" class="form-label required">Email:</label>
				<input id="email" class="form-control form-control-lg" type="email" 
						placeholder="LUMINUS registered email" 
						[ngClass]="{'is-invalid': hasError}" formControlName="email">
				<div class="invalid-feedback">
					{{ errorText }}
				</div>
			</div>
			<div class="d-flex justify-content-end">
				<button class="btn btn-lg btn-primary" type="submit" [disabled]="form.invalid">
					Next
				</button>
			</div>
		</form>
	</div>
</div>
